.visual__graph {
    display: grid;
    grid-template-columns: auto;
}

.visual {
    margin: 10px auto;
}

@media screen and (min-width: 767px) {
    .visual__graph {
        grid-template-columns: auto auto;
    }
}